body {
  font-family: "Open Sans", sans-serif;
}
/* 
div {
  text-align: justify;
} */

.navbar {
  transition: all 0.4s;
  font-size: large;
  /* background: rgba(5, 68, 75, 0.5); */
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #000;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: rgb(255, 255, 255);
  font-family: "Bungee Shade", cursive;
  font-size: 6rem;
}

/* Change navbar styling on scroll */
.navbar.active {
  /* background-color: #05444b; */
  background-color: #ff8e4c;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #fff;
  text-shadow: none;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #ccc;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}

.jumbotron {
  color: white;
  background-image: linear-gradient(rgba(100, 55, 30, 1), rgba(98, 78, 32, 0.5)),
    url(../img/hero.jpg);
  /* background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c"); */
  /* background-image: url(../img/hero2.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Carter One", cursive;
  /* color: #0ca6a6;
  text-shadow: 4px 4px 2px #05444b; */

  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.what-we-do {
  text-align: justify;
}

.enrol {
  background-color: #99d2d9;
}

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0ba7a6, #99d3d7);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  background-color: #05444b;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.contact {
  background-color: #efbc51;
  background: linear-gradient(to right, #efbc51, #ff8e4c);
}

.contact .btn {
  background-color: #05444b;
}

h1 {
  font-family: "Carter One", cursive;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: small;
}
